/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bilibili-embed-bilibili-video {
	border: 1px dotted #f00;
	// background-color: #21759b;
	// color: #fff;
}



.wp-block-bilibili-embed-bilibili-video .desc-owner-face {
	z-index: 1;
	position: sticky;
	width: 96px;
	height: 96px;
	top: 0%;
	right: 0%;
	overflow: hidden;
	transition: all 500ms ease-in-out;
	float: right;
	visibility: hidden;
	opacity: 0;
}

.wp-block-bilibili-embed-bilibili-video:hover .desc-owner-face {
	visibility: visible;
	opacity: 1;
}

// .wp-block-bilibili-embed-bilibili-video .desc-owner-face>* {
// 	position: sticky;
// 	width:auto;
// 	height:auto;
// 	// top: 0%;
// 	// right: 0%;
// }

.wp-block-bilibili-embed-bilibili-video .desc-video {
	position: absolute;
	width: 100%;
}

.wp-block-bilibili-embed-bilibili-video .desc-video-title {
	font-size: 20px;
	font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 16px;
	overflow: hidden;
	// white-space: nowrap;
	text-overflow: ellipsis;
}

.wp-block-bilibili-embed-bilibili-video .desc-video-info {
	transition: all 0.3s;
	transition: height 0.3s;
	white-space: pre-line;
	word-break: break-all;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 24px;
	// color: #18191C;
	// color: var(--text1);
	// background-color: #21759b;
}

.wp-block-bilibili-embed-bilibili-video figure {
	text-align: center;
}

.wp-block-bilibili-embed-bilibili-video figure>img {
	margin: 0% auto;
}

.components-panel__row>fieldset>legend {
	padding: 0px;
}